.ms-controller{visibility: hidden;}
.h100{height: 100%;}
.w100{width: 100%}
.posr{position: relative;}
.mgt10{margin-top: 10px;}
.mgtb10{margin-top:10px;margin-bottom:10px;}
.mgb0{margin-bottom: 0}
.pad0{padding: 0!important}
.padr0{padding-right: 0!important}
.padl0{padding-left: 0!important}
.cpointer{cursor:pointer}
.fz1{font-size:1.5em}
.notallowed{cursor: not-allowed !important;}

.demo{padding-bottom: 20px}
.demo h2:first-child{margin-top: 0}
.demo textarea{width: 100%;}
.demo code{display: block;}
