.tree,.tree ul{margin:0;padding:0;list-style: none;font-size:20px;}
.tree ul>li{padding-left:1em;}
.tree-hidden{visibility: hidden;}
.tree-toggle{font-size:0.8em;vertical-align: middle;cursor: pointer;}
.tree-toggle:hover{color:#888}
.tree-checkbox{vertical-align: middle;cursor: pointer;}
.tree-checkbox0 {color:#ccc}
.tree-checkbox1 {color:#000}
.tree-checkbox2 {color:#888}
.tree-node-content{display: inline-block;padding:0 2px;cursor: pointer;}
.tree-node-content:hover{background-color: #e2e2e2;}
.tree-node-content>.glyphicon{vertical-align: middle;position: static;}
.tree-node-select{background-color: #3385FF;color: #fff;}
.tree-node-select:hover{background-color: #3385FF;}
.tree-title{vertical-align: middle;display:inline-block;padding-left:0.2em}
