.panel-table.panel{
	border: 0;position: relative;box-shadow:none;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
}
.panel-table.panel .panel-heading{border-width:1px 1px 0 1px;border-style: solid;}
.mtable.panel-body{padding:0;}
.mtable .table{margin-bottom:0}
.mtable .table-responsive{margin-bottom:5px;}
.mtable .table-responsive th{padding: 0;}
.mtable .table-responsive th>div{padding: 8px;position: relative;}
.mpagination>div>span{display: inline-block;}
.mpagination .form-control{display: inline-block;width: auto;}
.mpagination input.form-control{vertical-align: middle;}
.mpagination .glyphicon:hover{background-color: #e2e2e2}
.mpagination .page{width: 80px}