.mgrid.panel{
	border: 0;position: relative;
	box-shadow:none;margin-bottom: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
}
.mgrid.panel .panel-heading{border-width:1px 1px 0 1px;border-style: solid;}
.mtable.panel-body{padding:0;}
.mtable .table{margin-bottom:0}
.mtable .thead{background-color: #fff;}
.mtable .table-responsive{margin-bottom: 0;position: relative;}
.mtable .table-responsive th{padding: 0;}
.mtable .table-responsive th>div{padding: 8px;position: relative;}
.mtable .table-responsive.mtable-nowrap{white-space: nowrap;}
.mtable h2{margin:0;padding:20px 0;border:1px solid #ddd;border-top:0}
.mtable .table-responsive .mtable-tr-hover{background-color: #eee}
.mtable .table-responsive .mtable-th-hover{background-color: #e2e2e2}
.mtable .table-responsive .mtable-tr-selected{background-color: #FAF5B4}
.mpagination{margin-top: 5px;}
.mpagination>div>span{display: inline-block;}
.mpagination .form-control{display: inline-block;width: auto;}
.mpagination input.form-control{vertical-align: middle;}
.mpagination .glyphicon:hover{background-color: #e2e2e2}
.mpagination .page{width: 80px}
@media (max-width: 570px) {
	.mpagination .pull-right{display: none;}
}
@media (max-width: 340px) {
	.mpagination .mpagination-first,.mpagination .mpagination-last{display: none;}
}
.thead-fix{position: fixed;top: 0;}